table{
    border-collapse: collapse;

}

table td{
    border: 1px solid #3f5c93;
    padding: 4px 8px;
    text-align: center;
}

table tr:nth-child(odd) td {
     background-color: #e7edf0;
     text-align: center;
}

table th {
    text-align: left;
    background-color: #3f5c93;
    color:  #FFF;
    padding: 4px 30px 4px 8px;
    text-align: center;
}

tr:hover {
   background: #3399FF;
}

hr:hover {
   background: #f5f5f5;
}



h2 {
    background-color: #e6edf0;
    color: #FFF;
}

H1 {
    text-decoration: overline;
    background-color: #3f5c93;
    color: #FFF;
}

img.two1 {

            height: 200%;
            width: 200%;

            }

img.two {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img.two:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.myButton2 {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #415989 5%, #f5f5f5 100%);
	background-color:#f5f5f5;
}
.myButton2:active {
	position:relative;

	background-color:#f5f5f5;
	top:1px;
}
